<h1>Site Assets</h1>
<% render_region :top do |top| %>
  <% top.tooltip_script do %>
    <% additional_script 'admin/tooltip' %>
  <% end %>
  <% top.pagination_counts do %>
    <p><%= will_paginate_record_display(@site_assets) %></p>
  <% end %>
<% end %>
<div class="list_content">
  <%= render_region :before_list %>
  <table class="site_asset_index list_table" id="site_asset_index_id">
    <thead>
      <tr>
        <% render_region :list_headers do |list_headers| %>
          <% list_headers.icon_column_header do %><th>&nbsp;</th><% end %>
          <% list_headers.name_column_header do %><th>Name</th><% end %>
          <% list_headers.urls_column_header do %><th>Urls</th><% end %>
          <% list_headers.actions_column_header do %><th>Actions</th><% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @site_assets.length == 0 %>
        <tr><td colspan="<%= admin_interface.site_assets.index.list_data.length %>" class="no_entries">No Site Assets</td></tr>
      <% else %>
         <%= render :partial => 'site_asset', :collection => @site_assets %>
      <% end %>
    </tbody>
  </table>
  <% render_region :after_list do |after_list| %>
    <% after_list.pagination_links do %>
      <%= will_paginate_links(@site_assets) %>
    <% end %>
  <% end %>
  <div class="action_row">
    <% render_region :action_row do |action_row| %>
      <% action_row.index_form do %>
        <% form_for [:admin, @site_asset], :html => {:class => 'semantic-form', :multipart => true} do |f| %>
          <%= render :partial => 'form_index', :locals => { :f => f } %>
        <% end %><br />
      <% end %>
    <% end %>
  </div>
</div>
<%= render_region :bottom %>